* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background-color: rgb(66, 10, 6);
}

body{
  overflow-x: hidden;
}

/* Navbar Section */

.banner {
  width: 100%;
  height: 100%;
  display: block;
}

nav {
  width: 100%;
  height: 8%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  box-shadow: black 0 2px 9px;
  z-index: 99999;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 1%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.3s;
  z-index: 1;
}

nav:hover::before {
  transform: skewX(45deg) translateX(5000%);
  transition-delay: 0.5s;
  z-index: 1;
}

.logo-cont {
  width: 15%;
}

.logo {
  width: 100%;
  opacity: 0.8;
}

.logo:hover {
  opacity: 1;
  transition: 0.8s ease-in;
}

nav ul {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Kabrio soft;
  font-weight: bold;
  font-size: 1.2em;
  z-index: 2;
}

nav ul li a img {
  opacity: 0.6;
  width: 30px;
}

nav ul li a img:hover {
  opacity: 1;
  transition: 0.7s ease-in;
}

/* Navbar end */

/* Landing Page Starts */

.landing-page {
  width: 100vw;
  height: 100vh;
  background: url(../images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

div .board {
  position: relative;
  width: 85%;
  height: 80%;
  background-color: transparent;
  top: 3%;
  box-shadow: rgb(17, 17, 17) 0 2px 9px;
}

div .board::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.3s;
}

.board:hover::before {
  transform: skewX(45deg) translateX(400%);
  transition-delay: 0.5s;
}

.divider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.div-1-cont {
  width: 40%;
  height: 80%;
  box-shadow: black 0 2px 9px;
  border-radius: 2%;
  text-align: center;
}

.div-1 h2 {
  font-family: gabriola;
  font-size: 2em;
  color: white;
  text-decoration: underline red;
  text-align: center;
}

.div-1 q {
  font-family: kabrio soft;
  font-size: 1.1em;
  font-style: italic;
  color: white;
}

.div-2-cont {
  width: 40%;
  height: 80%;
}

.div-2 h2 {
  font-family: gabriola;
  font-size: 2em;
  color: white;
  text-decoration: underline red;
  text-align: left;
}

.div-2 p {
  font-family: Kabrio regular;
  font-size: 1.1em;
  font-style: italic;
  color: white;
}

.div-2 button {
  position: absolute;
  top: 50%;
}

.div-2 button {
  width: 120px;
  height: 35px;
  border-radius: 6px;
  border: none;
  background: black;
  opacity: 0.7;
}

.click {
  text-decoration: none;
  color: white;
  font-family: kabrio soft;
  font-size: 1.1em;
  opacity: 0.6;
  transition: 0.5s ease-in;
}

.click:hover {
  opacity: 1;
  transition: 0.5s ease-out;
}

.click span {
  color: white;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  50% {
    margin-left: 6px;
  }
}

/* Landing Section Ends */

/* About Section Begins */

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden !important;
  scroll-behavior: smooth;
  transition: 1s ease-in;
}

/* .container::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0 ;
  width: 100%;
  height: 100%;
} */

.hor-scroll {
  width: 300vw;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: black;
}

::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 50px;
  transition: 1s ease-in;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: url(../images/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: scroll;
}

.services {
  width: 100%;
  height: 100vh;
  background-image: url(../images/robynne-hu-HOrhCnQsxnQ-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: scroll;
}

.book {
  width: 100%;
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: scroll;
}
